<p-card [header]="headerTitle">
    <div class="col-12">
        <form [formGroup]="workflowForm" autocomplete="off" (ngSubmit)="onSubmit()">

            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="nombre">Nombre</label>
                    <input pInputText id="nombre" type="text" formControlName="nombre" [readOnly]="readonly" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="idTipoDemanda">Tipo de Demanda</label>
                    <p-dropdown [options]="listTipoDemanda" optionLabel="nombre" optionValue="id"
                        placeholder="Seleccione" formControlName="idTipoDemanda"></p-dropdown>
                </div>
            </div>

            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="idTipologia">Tipología</label>
                    <p-dropdown [options]="listTipologia" optionLabel="nombre" optionValue="id"
                        (onChange)="getSubtipologia($event.value)" placeholder="Seleccione"
                        formControlName="idTipologia"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="idSubtipologia">Subtipología</label>
                    <p-dropdown [options]="listSubtipologia" optionLabel="nombre" optionValue="id"
                        placeholder="Seleccione" formControlName="idSubtipologia"></p-dropdown>
                </div>
            </div>

            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-12">
                    <label htmlFor="descripcion">Descripción</label>
                    <textarea pInputTextarea id="descripcion" formControlName="descripcion" rows="3"></textarea>
                </div>
            </div>


            <app-bpmn [urlBPMN]="diagramUrl" (urlChange)="onDiagramUrlChange($event)"
                (fileChange)="onDiagramFileChange($event)" ></app-bpmn>


            <div class="footer">
                <p-button type="submit" label="Guardar"></p-button>
                <p-button type="button" label="Salir" styleClass="p-button-danger" (onClick)="goToBack()"></p-button>
            </div>
        </form>
    </div>

</p-card>