<p-card header="Bandeja de Tipología">

    <div class="flex justify-content-between flex-column sm:flex-row container">

        <p-button type="button" class="mb-2" label="Nuevo" icon="pi pi-fw pi-plus" (click)="openModalForm()"></p-button>

        <!-- <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (keyup)="onGlobalFilter(dataTable1, $event)" placeholder="Buscar"
                class="w-full" />
        </span> -->
    </div>

    <p-table #dataTable1 [value]="datatable" dataKey="idUsuario" [loading]="loading" [rowHover]="true" [lazy]="true"
        (onLazyLoad)="getDatatable($event)" [rows]="request.pageSize" [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[5, 10, 20]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        styleClass="p-datatable-gridlines"
        responsiveLayout="scroll">

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 25%;">
                    <div class="flex justify-content-between align-items-center">
                        Nombre
                    </div>
                </th>

                <th style="width: 25%">
                    <div class="flex justify-content-between align-items-center">
                        Descripción
                    </div>
                </th>

                <th style="width: 15%">
                    <div class="flex justify-content-between align-items-center">
                        Estado
                    </div>
                </th>

                <th style="width: 10%">
                    <div class="flex justify-content-between align-items-center">
                        Opciones
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-tipologia>
            <tr>
                <td>
                    {{tipologia.nombre}}
                </td>

                <td>
                    {{tipologia.descripcion}}
                </td>

                <td>
                    {{tipologia.estado == 1 ? "Activo":"Inactivo"}}
                </td>

                <td class="text-center">
                    <button pButton pRipple type="button" icon="pi pi-pencil" (click)="openModalForm(tipologia.id)"
                        pTooltip="Editar" class="p-button-rounded p-button-text p-button-tbl">
                    </button>

                    <button pButton pRipple type="button" icon="pi pi-trash" (click)="deleteById(tipologia.id)"
                        pTooltip="Eliminar" class="p-button-rounded p-button-text p-button-tbl">
                    </button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No se encontraron registros.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="5">Cargando...</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>