<p-card header="Gestión de Usuario">
    <div class="col-12">
        <form [formGroup]="userForm" autocomplete="off" (ngSubmit)="onSubmit()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="name">Nombres</label>
                    <input pInputText id="name" type="text" formControlName="name" [readOnly]="readonly" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="lastname">Apellidos</label>
                    <input pInputText id="lastname" type="text" formControlName="lastname" />
                </div>
            </div>

            <div class="p-fluid p-formgrid grid">

                <div class="field col-12 md:col-6">
                    <label htmlFor="dni">DNI</label>
                    <input pInputText id="dni" type="text" formControlName="dni" />
                </div>
                <div class="field col-12 md:col-6">
                    <label htmlFor="address">Domicilio</label>
                    <input pInputText id="address" type="text" formControlName="address" />
                </div>
            </div>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label htmlFor="email">Correo Electrónico</label>
                    <input pInputText type="email" id="email" formControlName="email" />
                </div>

                <div class="field col-12 md:col-6">
                    <label for="new-password">Contraseña</label>
                    <input id="new-password" type="password" pInputText formControlName="password"
                        placeholder="Ingrese su contraseña" />
                </div>

            </div>

            <div class="p-fluid p-formgrid grid">

                <div class="field col-12 md:col-6">
                    <label htmlFor="roles">{{userForm.controls['roles'].value?.length > 1 ? 'Roles':'Rol'}}</label>
                    <p-multiSelect [options]="listRoles" optionLabel="nombre" formControlName="roles" optionValue="id"
                        placeholder="Seleccione" dataKey="id"></p-multiSelect>
                </div>

                <div class="field col-12 md:col-6" *ngIf="haveArea()">
                    <label htmlFor="idArea">Área</label>
                    <p-dropdown [options]="listArea" optionLabel="nombre" optionValue="id" placeholder="Seleccione"
                        formControlName="idArea"></p-dropdown>
                </div>

                <div class="field col-12 md:col-6">
                    <label htmlFor="status">Estado</label>
                    <p-dropdown [options]="listEstadosUsuario" optionLabel="nombre" optionValue="id"
                        placeholder="Seleccione" formControlName="status"></p-dropdown>
                </div>
            </div>

            <div class="footer">
                <p-button type="submit" label="Guardar"></p-button>
                <p-button type="button" label="Salir" styleClass="p-button-danger" (onClick)="goToBack()"></p-button>
            </div>
        </form>
    </div>



</p-card>